
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Copyright &copy; RajKumar Darshanala</p>
  </div>
</div>
<!-- <footer  class="footer fixed-bottom">

      <small></small>

  </footer> -->
</body>
</html>
