
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made by RajKumar_Darshanala</p>
  </div>
</div>
<!-- <footer  class="footer fixed-bottom">

      <small>Copyright &copy; Your Website</small>

  </footer> -->
</body>
</html>
